*{
	margin:0;
	padding:0;
}
.header{
	
	height:100vh;
	
}
.navbar-style{
	box-shadow:0 5px 10px #3248a8;
	text-transform: uppercase;
}
.logo{
	height:100px;
	width:100px;
	padding:2px 10px
}
.icon-bar{
	background:darkblue;
}
li a{
	color: black;
}
.big-text{
	font-size: 40px;
	margin: 20px 0;
	color: darkorange;
	font-family: cursive;
}

a.btn{
	margin:30px 10px;
	width:250px;
	padding:20px;
	border-radius:20px;
}
a.btn-first{
	background-color: transparent;
	border:1px solid ;
}
a.btn-second{
	background-color: transparent;
	border:1px solid ;
}
.banner-info, .banner-image{
	margin: 30px 0;
}
.footerh2{
	color:black;
	font-size: 18px;
}
.fpara{
	color:#fff;
	line-height:25px;
}
.footer-top{
	background: #5d52f2;
	padding: 60px 0;
}
.segment-one ,.segment-two, .segment-three, .segment-four {
	font-family: cursive;
	color:black;
	letter-spacing: 3px;
	margin:10px 0;
}
.segment-two h2:before{
	padding-right: 10px;
}
.segment-two ul li{
	font-family: cursive;
	color:#fff;
	letter-spacing: 3px;
	margin:10px 0;
	
}
.footer-bottom-text{
	text-align: center;
	background:#000;
	line-height: 75px;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.md-mb-30{
		margin-bottom: 30px;
	}
}
@media only screen and (min-width: 767px){
	.md-mb-30{
		margin-bottom: 30px;
	}
	.footer-top{
		padding: 50px 0;
	}
}